.card {
  float: left;
  border: solid 1px black;
  width: 122px;
  border-radius: 5px;
  height: 169px;
  margin-right: 20px;
}

.card img {
	height: 167px;
	width: 120px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
